<form class="{{cssClass}}" autocomplete="off">
  <!-- Header with D&D 5e styling -->
  <header class="sheet-header flexrow">
    <h1 class="title">{{title}}</h1>
  </header>

  <!-- Main content area -->
  <div class="sheet-content">
    <!-- Add a section header for "Reagents" to match the screenshot -->
    <div class="sheet-tabs tabs" data-group="primary">
      <b class="item active" data-tab="reagents">REAGENTS</b>
    </div>
    <hr class="tab-divider" />

    <!-- Crafting container with triangular layout -->
    <div class="sheet-body">
      <div class="tab reagents active" data-group="primary" data-tab="reagents">
        <div class="triangle-container">
          <!-- Top slot -->
          <div class="slot-top-wrapper">
            <div class="reagent-name-top">{{reagent0.name}}</div>
            <div class="reagent-slot top-slot" data-slot="0">
              {{#if reagent0}}
                <img class="reagent-image" src="{{reagent0.img}}" alt="{{reagent0.name}}" />
                <span class="remove-reagent" data-slot="0"><i class="fas fa-times"></i></span>
              {{else}}
                <span class="empty-text">Drop Reagent Here</span>
              {{/if}}
            </div>
          </div>

          <!-- Bottom-left slot -->
          <div class="slot-bottom-left-wrapper">
            <div class="reagent-slot bottom-left-slot" data-slot="1">
              {{#if reagent1}}
                <img class="reagent-image" src="{{reagent1.img}}" alt="{{reagent1.name}}" />
                <span class="remove-reagent" data-slot="1"><i class="fas fa-times"></i></span>
              {{else}}
                <span class="empty-text">Drop Reagent Here</span>
              {{/if}}
            </div>
            <div class="reagent-name-bottom">{{reagent1.name}}</div>
          </div>

          <!-- Bottom-right slot -->
          <div class="slot-bottom-right-wrapper">
            <div class="reagent-slot bottom-right-slot" data-slot="2">
              {{#if reagent2}}
                <img class="reagent-image" src="{{reagent2.img}}" alt="{{reagent2.name}}" />
                <span class="remove-reagent" data-slot="2"><i class="fas fa-times"></i></span>
              {{else}}
                <span class="empty-text">Drop Reagent Here</span>
              {{/if}}
            </div>
            <div class="reagent-name-bottom">{{reagent2.name}}</div>
          </div>

          <!-- Craft button -->
          <button class="craft-btn" {{#unless canCraft}}disabled{{/unless}}>Craft!</button>

          <!-- IP display -->
          <div class="ip-display">
            <p class="ip-combat">Combat: <span class="combat-ip">{{ipSums.combat}}</span></p>
            <p class="ip-utility">Utility: <span class="utility-ip">{{ipSums.utility}}</span></p>
            <p class="ip-entropy">Entropy: <span class="entropy-ip">{{ipSums.entropy}}</span></p>
            {{#if dc}}<p class="dc-display">DC: <span class="dc-value">{{dc}}</span></p>{{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</form>