<div class="alchemy-crafting">
    <h2>Alchemy Crafting</h2>
    <div class="cauldron-container">
        <div class="reagent-triangle">
            <!-- Row 1: Top reagent slot (centered) -->
            <div class="reagent-slot top-slot" data-slot="0">
                {{#if selectedReagents.[0]}}
                    <img src="{{selectedReagents.[0].img}}" class="item-icon" />
                {{else}}
                    +
                {{/if}}
            </div>
            <!-- Row 2: Outcome selection (centered) -->
            {{#if hasTiebreaker}}
                <div class="tiebreaker-options">
                    {{#each tiebreakerOutcomes}}
                        <div class="outcome-icon {{this.category}}-icon {{#if this.selected}}selected{{/if}}" 
                             data-category="{{this.category}}" 
                             {{#if this.itemId}}data-item-id="{{this.itemId}}"{{/if}}
                             {{#if this.itemImg}}
                                 style="background-image: url('{{this.itemImg}}'); background-size: cover; background-position: center;"
                             {{/if}}>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
            <!-- Row 3: Bottom left and right reagent slots -->
            <div class="reagent-slot bottom-left-slot" data-slot="1">
                {{#if selectedReagents.[1]}}
                    <img src="{{selectedReagents.[1].img}}" class="item-icon" />
                {{else}}
                    +
                {{/if}}
            </div>
            <div class="reagent-slot bottom-right-slot" data-slot="2">
                {{#if selectedReagents.[2]}}
                    <img src="{{selectedReagents.[2].img}}" class="item-icon" />
                {{else}}
                    +
                {{/if}}
            </div>
        </div>
    </div>
    <div class="ip-display">
        <p>Influence Points: <span class="ip-values">{{ipSums.combat}} / {{ipSums.utility}} / {{ipSums.entropy}}</span></p>
        <button class="craft-btn" {{#unless canCraft}}disabled{{/unless}}>{{#if outcomeKnown}}Craft!{{else}}Experiment!{{/if}}</button>
        <button class="clear-slots-btn">Clear Slots</button>
    </div>
    <div class="crafting-history">
        <button class="open-compendium-btn" title="Open Vikarov's Crafting Compendium">
            <i class="fas fa-book"></i>
        </button>
    </div>
</div>

<div class="magic-crafting">
    <h2>Magic Item Crafting</h2>
    <div class="component-slot">+</div>
    <div class="craftable-items">
        <div class="craft-item">[Item 1]</div>
        <div class="craft-item">[Item 2]</div>
        <div class="craft-item">[Item 3]</div>
    </div>
</div>